@import "tailwindcss";

:root {
  /* 배경색과 기본 텍스트 색상 정도만 남깁니다. */
  --foreground-rgb: 74, 74, 74;
  --background-rgb: 253, 252, 251;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}